.App {
  text-align: center;
}

.header-container {
  width: 100%;
}

.body-container {
  width: 100%;
}

.footer-container {
  width: 100%;
}

.input-container {
  margin: auto;
  width: 50%;
}

.input-container > * {
  float: left;
  margin: 0;
}

.input-container > input {
  width: 100%;
}

.button-row {
  clear: both;
}