@font-face {
  font-family: 'MinecraftFont';
  src: local('MinecraftFont'), url("./assets/fonts/mc_regular.woff") format('woff');
}

html {
  height: 100%;
}

body {
  height: 100%;

  margin: 0;
  font-family: "MinecraftFont";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  image-rendering: auto;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
  background: linear-gradient( rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.85) ), url("./assets/gui/options_background.png");
  background-size: 128px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
