@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Minecraft-Regular";
    src: url(./public/fonts/Minecraft-Regular.otf) format("opentype"); /* TODO: change to woff and woff2 at some point */
  }
}

h2 {
  font-family: "Minecraft-Regular", sans-serif;
  font-size: 24pt;
  color: white;
  text-shadow: 3.4px 3.4px rgb(64, 65, 62);
}

h3,
p {
  font-family: "Minecraft-Regular", sans-serif;
  font-size: 24pt;
  color: rgb(130, 128, 124);
}

@media (max-width: 1024px) { /* use screen(lg) and put in utilities? */
  h3,
  p {
    font-size: 20pt;
  }
}

h3 {
  color: white;
  line-height: 1.2;
}

p {
  margin: 0;
  padding: 0;
  line-height: 0.9;
}

input[type="text"] {
  background-color: black;
  border: 4px solid rgb(160, 160, 160);
  color: white;
  font-family: "Minecraft-Regular", sans-serif;
  font-size: 24pt;
  text-shadow: 3.4px 3.4px rgb(64, 65, 62);
  padding: 12px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

input[type="text"]:focus {
  border: 4px solid white;
}

@layer utilities {
  /* header dim repeat:round does not give the desired result, find a better way */
  .medium-dim-bg {
    background: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.75) 0%,
        rgba(0, 0, 0, 0.75) 100%
      ),
      100% url("./assets/dirt.png") round;
    background-size: 112px;
    image-rendering: pixelated;
  }

  .header {
    height: 17.778%;
    max-height: 192px;
  }

  .world-select-input {
    @apply mx-auto;
    width: 42%;
    margin-bottom: 4px;
    @apply h-8;
    @apply lg:h-16;
    @apply focus:outline-none;
  }

  .worldlist-body {
    height: 58.5%;
    background: linear-gradient(
        0deg,
        rgba(0, 0, 0, 1) 0%,
        rgba(0, 0, 0, 0.85) 2.5%,
        rgba(0, 0, 0, 0.85) 97.5%,
        rgba(0, 0, 0, 1) 100%
      ),
      100% url("./assets/dirt.png") round;
    background-size: 112px;
    image-rendering: pixelated;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .worldlist-body::-webkit-scrollbar {
    display: none;
  }

  .worldlist-container {
    @apply mx-auto;
    @apply mt-3;
    width: 842px;
  }

  @media (max-width: 1024px) {
    .worldlist-container {
      @apply w-10/12;
    }
  }

  .world-item {
    @apply mb-4;
    @apply p-1;
  }

  .selected {
    border: 4px solid white;
  }

  .footer {
    height: 23.722%;
  }

  .button-container {
    width: 980px;
  }

  @media (max-width: 1024px) {
    .button-container {
      @apply w-10/12;
    }
  }

  .button-base {
    height: 56px;
    font-family: "Minecraft-Regular", sans-serif;
    text-shadow: 3.4px 3.4px rgb(65, 64, 62);
    font-size: 24pt;
    @apply bg-gray-500;
    @apply text-white;
    outline: 4px solid black;
  }

  .button-base:hover {
    outline: 4px solid white;
  }

  .button-base:focus {
    outline: 4px solid white;
  }

  .button-disabled {
    outline: 4px solid red;
  }

  .large-button {
    background: url("./assets/button.png");
    background-repeat: no-repeat;
    background-size: cover;
    image-rendering: pixelated;
    /* width: 462px; */
  }

  .small-button {
    background: url("./assets/button-sm.png");
    background-repeat: no-repeat;
    background-size: cover;
    image-rendering: pixelated;
    /* width: 224px; */
  }
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @apply select-none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
