@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Minecraft-Regular";
    src: url(./public/fonts/Minecraft-Regular.otf) format("opentype"); /* change to woff and woff2 at some point */
  }
}

h2 {
  font-family: "Minecraft-Regular", sans-serif;
  font-size: 24pt;
  color: white;
}

h3,
p {
  font-family: "Minecraft-Regular", sans-serif;
  font-size: 24pt;
}

@media (max-width: 1024px) {
    h3, p {
      font-size: 20pt;
    }
  }

h3 {
  color: white;
  line-height: 1.2;
}

p {
  margin: 0;
  padding: 0;
  line-height: 0.9;
}

@layer utilities {
  .header-height {
    height: 17.778%;
    max-height: 192px;
  }

  .world-select-text {
    @apply mx-auto;
    width: 42%;
    margin-bottom: 4px;
    @apply h-8;
    @apply lg:h-16;
  }

  .body-height {
    height: 58.5%;
  }

  .worldlist-container {
    @apply mx-auto;
    @apply mt-3;
    width: 842px;
  }

  @media (max-width: 1024px) {
    .worldlist-container {
      @apply w-10/12;
    }
  }

  .world-item {
    @apply mb-4;
  }

  .footer-height {
    height: 23.722%;
  }
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
